@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #000000;
    transition: all 0.3s ease;
}

a:hover {
    color: #033caa !important;
}

h5 {
    font-size: 25px;
    color: #033caa;
}

li {
    list-style: none;
}

nav {
    background-color: #fff;
    position: sticky;
    top: 0;
    padding: 0 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    box-shadow: 0 5px 80px rgba(0, 0, 0, 0.1);
}

nav .logo,
footer .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo a,
footer .logo a {
    margin-left: 15px;
    font-weight: bold;
    font-size: 20px;
}

nav .logo img,
footer .logo img {
    width: 60px;
    height: 60px;
    border: transparent;
}

nav ul,
footer .top ul {
    display: flex;
    gap: 40px;
}

nav button:hover {
    background-color: #033caa;
    border-color: #033caa;
    color: #fff;
}

nav button#menuButton {
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    padding: 7px;
    border: none;
}

.main {
    background: rgb(205,205,205);
    background: radial-gradient(circle, rgba(205,205,205,1) 0%, rgba(227,226,226,1) 19%, rgba(255,255,255,1) 64%);
    padding: 400px 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    text-align: center;
}

.main .left {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.main .left h3 {
    margin-top: 10px;
    font-weight: bold;
    font-size: 55px;
}

.main .left h5 span {
    color: #033caa;
   
}

.main .left button {
    margin-top: 40px;
    color: #fff;
    cursor: pointer;
    background-color: #033caa;
    padding: 14px 24px;
    border-radius: 1px solid transparent;
    border-radius: 10px;
    border-color: #5e3bee;
    transition: all 0.3s ease-in-out;
    font-size: 15px;
}

.main .left button:hover {
    background-color: #000000;
    border-color: #000000;
}

.skills {
    padding: 110px 85px 0;
}

.skills .skill {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    padding: 110px 85px;

}

.skill p:hover {
    -xpedu-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);

}

.skills .skill p {
    width: 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    transition: all 0.3s ease;
    cursor: pointer;

}

.skills .skill i {
    margin-top: 25px;
    font-size: 90px;
    gap: 10px;
}

.skills h3,
.about .right h3,
.portfolio .header h3,
.feedback h3 {
    font-size: 40px;
    margin-top: 30px;
}

.skills .skill-items {
    display: flex;
    margin-top: 70px;
    gap: 30px;
}

.skills .skill-items .item {
    background-color: #dedede;
    width: 25%;
    border-radius: 10px;
    padding: 32px;
    border-bottom: 4px solid transparent;
    transition: all 0.3s ease;
    cursor: pointer;
}

.skills .skill-items .item:hover {
    border-color: #033caa;

}

.skills .skill-items .item .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 46px;
    height: 46px;
    border-radius: 10px;
    margin-bottom: 22px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

.skills .skill-items .item .icon i {
    font-size: 26px;
    color: #0c0a0a;
}

.skills .skill-items .item h4,
.portfolio .portfo-items .item .info h4 {
    font-size: 20px;
}

.skills .skill-items .item p {
    margin-top: 20px;
    font-size: 16px;
    line-height: 25px;
    color: #1c1e53;
}

.about {
    padding: 110px;
    display: flex;
    align-items: center;
    gap: 60px;
}

.about .left {
    background-color: #dedede;
    border-radius: 10px 10px 0 0;
}


.about .left img {
    width: 440px;
}

.about .right p {
    font-size: 19px;
    margin-top: 30px;
}

.portfolio {
    background-color: #dedede;
    padding: 110px 85px;
}

.portfolio .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

.portfolio .header button {
    background-color: #000000;
    padding: 10px 20px;
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 8px;
    border: none;
    border-radius: 10px;
}

.portfolio .header button i {
    font-size: 26px;
}

.portfolio .portfo-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.portfolio .portfo-items .item {
    width: 30%;
    background-color: #fff;
    border-radius: 10px;
    border-bottom: 4px solid transparent;
    cursor: pointer;
    box-shadow: 0 5px 32px rgba(0.0.0.0.15);
    transition: all 0.3s ease;
}

.portfolio .portfo-items .item:hover {
    border-color: #033caa;
}

.portfolio .portfo-items .item img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    object-position: top;
    border-radius: 10px 10px 20px 20px;
}

.portfolio .portfo-items .item .info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 32px 42px;
}

.portfolio .portfo-items .item .info p {
    font-size: 17px;
}

.portfolio .portfo-items .item .info a {
    text-decoration: underline;
    text-underline-offset: 12px;
    text-decoration-color: #033caa;

}

.portfolio .portfo-items .item .info a i {
    margin-left: 2px;
    font-size: 18px;
}

footer {
    padding: 85px;
    display: flex;
    flex-direction: column;
}

footer .top,
footer .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .top .social-links {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 40px;
}

footer .social-links a {
    font-size: 30px;
}

footer .separator {
    width: 100%;
    height: 1px;
    background-color: #282938;
    margin: 30px 0 20px;
}

footer .bottom p {
    font-size: 15px;
}

footer .bottom .links a {
    font-size: 15px;
    margin-left: 14px;
}


@media screen and (max-width:1200px) {

    .main .left h5 {
        font-size: 18px;
    }

    .main .left h3 {
        font-size: 36px;
    }

    .main .left p {
        font-size: 18px;
    }

    .main .right img {
        width: 380px;
    }

    .skills .skill-items {
        gap: 10px;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .skills .skill {
        gap: 10px;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .skills .skill-items .item {
        width: 49%;
    }

    .about .left img {
        width: 400px;
    }

    .skills h3,
    .about .right h3,
    .portfolio .header h3 {
        font-size: 32px;
    }

    .about .right p {
        font-size: 15px;
    }

}

@media screen and (max-width:990px) {
    nav button {
        display: none;
    }

    nav ul {
        gap: 20px;
    }

    nav ul li a {
        font-size: 15px;
    }

    .main {
        flex-direction: column;
    }

    .about {
        flex-direction: column;
        justify-content: center;
    }

    .portfolio .portfo-items {
        gap: 22px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .portfolio .portfo-items .item {
        width: 48%;
    }
}

@media screen and (max-width:768px) {
    nav {
        justify-content: space-between;
        padding: 0 42px;
    }

    nav ul {
        display: none;
    }

    nav.open .logo {
        display: none;
    }

    nav.open ul {
        display: flex;
    }

    nav button#menuButton {
        display: flex;
        background: transparent;
    }

    .main {
        padding: 42px;
    }

    .skills {
        padding: 85px 42px 0;
    }

    .skills .skill {
        gap: 10px;
    }

    .skills .skill-items {
        gap: 8px;
    }

    .about {
        padding: 85px 42px;
    }

    .portfolio {
        padding: 60px 42px;
    }

    .portfolio .portfo-items {
        gap: 20px;
    }

    footer {
        padding: 85px 42px;
    }

    footer .bottom {
        flex-direction: column-reverse;
        gap: 14px;
    }
}

@media screen and (max-width:576px) {
    nav ul li a {
        font-size: 13px;
    }

    nav .logo a {
        font-size: 15px;
    }

    nav {
        display: flex;
        justify-content: space-around;
    }

    .main .left h3 {
        font-size: 32px;
    }

    .main .left p {
        font-size: 16px;
    }

    .main .left button {
        width: 100%;
    }

    .skill .skill {
        width: 100%;
    }

    .skills .skill-items .item {
        width: 100%;
    }

    .portfolio .portfo-items .item {
        width: 100%;
    }

    .portfolio .header {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .portfolio .header button {
        font-size: 12px;
        padding: 8px 14px;
    }

    footer {
        width: 100%;
        padding: 30px 5px;
    }

    footer .bottom .links a {
        justify-content: space-between;
        margin-bottom: 10px;
    }

    footer .logo a {
        font-size: 20px;
    }

    footer .social-links a {
        font-size: 20px;
    }

    footer .logo img {
        display: none;
    }

    footer .bottom .links {
        margin-bottom: 20px;
    }
}